<app-page-header [content]="pageContent.header"></app-page-header>
<div class="component">
<div class="row justify-content-center mb-3"><a class="btn btn-default" href="/exercise-list/exercise-form">Add New</a></div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <div class="error alert" style="display: none;"></div>
      <div *ngFor="let exercise of exercises" class="card bg-{{exercise.group.replace(' ', '-').toLowerCase()}}">
        <div class="card-body">
          <h4>
            <a class="exercise" routerLink="/exercise-list/{{exercise._id}}">{{exercise.name}}</a>
          </h4>
          <div class="equipments">
            <span *ngFor="let equipment of exercise.equip" class="badge badge-warning">{{equipment}}</span>
          </div>
        </div>
      </div>
  </div>
</div>
