.navbar {
  background-color: var(--dissipate);
  font-family: 'typo-quick';
  letter-spacing: 3px;
}

/* Home button in navbar */
#home-link {
  margin-bottom: 2px;
  background-color: var(--dark);
  background-image: url("../../assets/images/logo/run_sky_blue.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  padding-right: 3em;
}

#home-link.active {
  background-color: var(--portal-orange-dark);
  background-image: url("../../assets/images/logo/run_white.png");
}

#home-link:not(.active):hover {
  background-image: url("../../assets/images/logo/run_orange.png");
}

.navbar-toggler-icon {
  /* Toggler is invisible for some reason, use custom SVG instead */
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-item {
  max-width: 150px;
  margin: 3px 0;
  margin-right: 0.5rem;
}

.nav-link {
  background-color: var(--dark);
  color: white;
  border-radius: .25rem;
  margin-top: 5px;
}
.nav-link.active {
  color: white;
}

.nav-link:not(.active):hover {
  color: var(--portal-orange-dark);
}

footer {
  background-color: var(--waiting-room);
  padding: 15px;
}