.dropdown-menu {
  top: 25px;
  padding: 3px 0;
  border-radius: 2px;
  border: 1px solid #bbb;
}

.dropdown-menu > li > a {
  padding: 9px 12px;
  cursor: pointer;
}

.dropdown-menu > li > a:hover {
  background-color: rgba(81, 92, 230, 0.05);
  color: #333;
}

.calendar-icon {
  width: 14px;
  height: 14px;
}

#menu {
  padding: 16px;
}

#dropdownMenu-calendarType {
  padding: 0 8px 0 11px;
}

#calendarTypeName {
  min-width: 62px;
  display: inline-block;
  text-align: left;
  line-height: 30px;
}

.move-today {
  padding: 0 16px;
  line-height: 30px;
}

.move-day {
  padding: 8px;
  font-size: 0;
}

#renderRange {
  padding-left: 12px;
  font-size: 19px;
  vertical-align: middle;
}

.dropdown-menu-title .calendar-icon {
  margin-right: 8px;
}

.calendar-icon {
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
}

.ic_view_month {
  background: url('../images/calendar/ic-view-month.png') no-repeat;
}

.ic_view_week {
  background: url('../images/calendar/ic-view-week.png') no-repeat;
}

.ic-arrow-line-left {
  background: url('../images/calendar/ic-arrow-line-left.png') no-repeat;
}

.ic-arrow-line-right {
  background: url('../images/calendar/ic-arrow-line-right.png') no-repeat;
}

.ic-plus {
  background: url('../images/calendar/ic-plus.svg') no-repeat;
}

.modal-header,
.modal-footer {
  background-color: #294d67;
}

.modal-body {
  background-color: #d5d0ca;
  color: black;
}
