/* -------------------------------------------------------------------------- */
/*                                Color scheme                                */
/* -------------------------------------------------------------------------- */
:root {
  --portal-orange-light: #FF9A00;
  --portal-orange-dark: #FF5D00;
  --portal-entrance: #005DDF;
  --deep-sky-blue: #00A2FF;
  --portal-blue: #D5DBEB;

  --waiting-room: #D5D0CA;
  --bones: #C8C5C0;
  --along-the-shoreline: #BEBBB6;
  --steel-blue-grey: #60737A;

  --dissipate: #294D67;
  --dark: #1B1B1B;
}


/* -------------------------------------------------------------------------- */
/*                                    Fonts                                   */
/* -------------------------------------------------------------------------- */
@font-face {
  font-family: 'typo-quick';
  src: url('../fonts/typo-quik-regular.woff');
}

@font-face {
  font-family: 'bavro';
  src: url('../fonts/bavro-regular.woff');
}


/* -------------------------------------------------------------------------- */
/*                                   General                                  */
/* -------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
}

/* Have extra space at bottom so that you can scroll down past the fixed footer.
   Otherwise it could hide content. */
html {
  margin-bottom: 300px;
}

h4, h5, h6 {
  font-family: 'typo-quick';
}

h1, h2, h3 {
  font-family: 'bavro';
}

body {
  color: white;
  background-color: var(--waiting-room);
}

.main-content {
  color: #000000;
}

.jumbotron {
  background-color: var(--dark);
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px;
}

#IntroMsg {
  font-size: 18px;
}

.footer {
  background-color: var(--dissipate);
  padding: 15px;
}


/* -------------------------------------------------------------------------- */
/*                                   Navbar                                   */
/* -------------------------------------------------------------------------- */
.navbar {
  background-color: var(--dissipate);
  font-family: 'typo-quick';
}

.navbar-toggler-icon {
  /* Toggler is invisible for some reason, use custom SVG instead */
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-item {
  max-width: 150px;
  margin: 3px 0;
}

/* Home button in navbar */
#home {
  margin-bottom: 5px;
}


/* -------------------------------------------------------------------------- */
/*                                   Buttons                                  */
/* -------------------------------------------------------------------------- */
.btn {
  margin: 3px
}

button, .btn {
  font-family: 'typo-quick';
}

.btn-group-xs>.btn, .btn-xs {
  /* xs button */
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}

.btn-default {
  background-color: var(--portal-orange-light);
  color: #FFF;
  /* margin-right: 1em; */
}

.btn-blue {
  background-color: #0082C4;
  color: #FFF;
}

.form input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border-radius: 11px;
  border: 1px solid #000000;
  padding-left: 15px;
}


/* -------------------------------------------------------------------------- */
/*                              Alerts & Modals                               */
/* -------------------------------------------------------------------------- */
.alert {
  color: white;
  margin: auto;
  margin-bottom: 1em;
}

.alert-danger {
  background-color: #d9534f;
}

.alert-success {
  background-color: #5cb85c;
}

.alert-warning {
  background-color: var(--portal-orange-light);
  border-color: var(--portal-orange-light);
}

.custom-control-label:before{
  background-color: var(--waiting-room);
}

/* Vertically align modal to the middle */
.modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}


/* -------------------------------------------------------------------------- */
/*                                  Calendar                                  */
/* -------------------------------------------------------------------------- */
.close {
  font-size: 12px;
}

.table {
  background-color: var(--portal-blue);
}

.add-btn {
  font-size: 12px;
}

.empty-btn {
  font-size: 7px;
}

a.button {
  margin-right: 15px;
}


/* -------------------------------------------------------------------------- */
/*                                   Cards                                    */
/* -------------------------------------------------------------------------- */
.card {
  margin-bottom: 5px;
}

.parent-card {
  border:1px solid black;
  background: var(--steel-blue-grey);
  color: white;
}

.nested-card {
  color: black;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: none;
  border-top: 1px solid black;
  margin-bottom: 0;
}

.card.nested-card input::placeholder, .card.nested-card select {
  color: black;
  font-style: normal;

}

.card-body {
  padding: 10px;
}

.card-text {
  font-family: 'typo-quick';
}

/* -------------------------------------------------------------------------- */
/*                               Exercise list                                */
/* -------------------------------------------------------------------------- */
a.exercise {
  color: black;
  text-decoration: none;
  font-family: 'typo-quick';
}

a.exercise:hover {
  color: white;
}

.badge-card {
  background-color: white;
}

.badge-warning {
  margin-right: 2px;
}

.error {
  background-color: #d9534f;
  color: white;
}

/* !important is used to override existing background-colors that may exist on
   an element */
.bg-chest      { background-color: #ea9999 }
.bg-triceps    { background-color: #e6b8af }
.bg-upper-back { background-color: #a4c2f4 }
.bg-biceps     { background-color: #c9daf8 }
.bg-shoulders  { background-color: #93c47d }
.bg-core       { background-color: #8e7cc3 }
.bg-lower-body { background-color: #f6b26b }

.bg-chest, .bg-triceps, .bg-upper-back, .bg-biceps,
.bg-shoulders, .bg-core, .bg-lower-body {
  color: black;
}


/* -------------------------------------------------------------------------- */
/*                                Program list                                */
/* -------------------------------------------------------------------------- */
#program-list {
  background-color: var(--portal-orange-light);
  margin-top: 1ex;
}


/* -------------------------------------------------------------------------- */
/*                               exercise-form                                */
/* -------------------------------------------------------------------------- */
.input-group-text, .input-label {
  background-color: var(--dissipate);
  color: white;
}

.input-card {
  padding: 1em;
  margin: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

}

.input-label {
  margin: 0;
  border-radius: 5px;
  padding: 1ex 0 8px 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.desc-txt {
  min-height: 4em;
}


/* -------------------------------------------------------------------------- */
/*                                 Dashboard                                  */
/* -------------------------------------------------------------------------- */
.greeting {
  font-size: 40px;
  margin-bottom: 30px;
}

#personal-form .input-group-text {
  background-color: var(--steel-blue-grey);
}

/* -------------------------------------------------------------------------- */
/*                               Questionnaire                                */
/* -------------------------------------------------------------------------- */
.qnr-btn {
  background-color: var(--portal-orange-light);
  color: #FFF;
}

.qnr-btn:hover {
  color: #000;
}

.option-selected {
  background-color: var(--portal-orange-dark);
  font-weight: bold;
  color: #000;
}

.qnr-nav-btn {
  background-color: var(--deep-sky-blue);
  color: #FFFFFF;
  position: sticky;
}

#nav-btn-right {
  background-color: var(--deep-sky-blue);
  color: #FFFFFF;
  float: right;
  position: sticky;
  /* visibility: hidden; */
}

.badge-pill {
  background-color: var(--portal-orange-dark);
  color: #FFFFFF;
}

.choiceFixed {
  height: 370px;
}

a:hover {
  color: black;
}
