.input-group-text, .input-label {
  background-color: #294D67;
  color: white;
}

.input-card {
  padding: 1em;
  margin: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.input-label {
  margin: 0;
  border-radius: 5px;
  padding: 1ex 0 8px 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.desc-txt {
  min-height: 4em;
}

.alert-danger {
  background-color: #d9534f;
  color: white;
}

.custom-control-label:before{
  background-color: #D5D0CA;
}

.bg-chest      { background-color: #ea9999; }
.bg-triceps    { background-color: #e6b8af; }
.bg-upper-back { background-color: #a4c2f4; }
.bg-biceps     { background-color: #c9daf8; }
.bg-shoulders  { background-color: #93c47d; }
.bg-core       { background-color: #8e7cc3; }
.bg-lower-body { background-color: #f6b26b; }

.bg-chest, .bg-triceps, .bg-upper-back, .bg-biceps,
.bg-shoulders, .bg-core, .bg-lower-body {
  color: black;
}