extends layout
block content
  .container-fluid.main-content
    .row.mt-5
      .col-4.offset-1.history
        .font-weight-bold.box-title Exercise History
        .row
          .col-6 Some Date
          .col-6.row.text-center.exercise-names
            .col-12 Test
            .col-12 Test
            .col-12 Test
            .col-12 Test
        .row
          .col-6 Some Date
          .col-6 row text-center
            .col-12 Test
            .col-12 Test
            .col-12 Test
            .col-12 Test
        .row
          .col-6 Some Date
          .col-6 row text-center
            .col-12 Test
            .col-12 Test
            .col-12 Test
            .col-12 Test
        .row
          .col-6 Some Date
          .col-6 row text-center
            .col-12 Test
            .col-12 Test
            .col-12 Test
            .col-12 Test
      .col-4.offset-2.info.form
        .font-weight-bold.box-title.row
          .col-8 Account Information
          .text-center.col-4
            button.btn.btn-default.btn-lg.my-2.update-button Update
        .row.fields.form
          .col-6
            input(type="text" placeholder="First Name")
          .col-6
            input(type="text" placeholder="Last Name")
          br
          br
          br
          br
          .col-6
            input(type="text" placeholder="Password")
          .col-6
            input(type="text" placeholder="Confirm")
          .col-12 Use 8 or more characters with a mix of letters, numbers, and symbols