extends layout
block css
  //- When CDN is used, the files are blocked by client. I think toggling CORS may fix
  link(rel='stylesheet' href='/stylesheets/calendar/tui-calendar.css')
  link(rel='stylesheet' href='/stylesheets/calendar.css')
block content
  .container.main-content
    #menu
      span.dropdown
        button#dropdownMenu-calendarType.btn.btn-default.btn-sm.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
          i#calendarTypeIcon.calendar-icon.ic_view_month(style='margin-right: 4px;')
          span#calendarTypeName Weekly
        ul.dropdown-menu(role='menu' aria-labelledby='dropdownMenu-calendarType')
          li(role='presentation')
            a.dropdown-menu-title(role='menuitem' data-action='toggle-weekly')
              i.calendar-icon.ic_view_week
              | Weekly
          li(role='presentation')
            a.dropdown-menu-title(role='menuitem' data-action='toggle-monthly')
              i.calendar-icon.ic_view_month
              | Monthly
      span#menu-navi
        button.btn.btn-default.btn-sm.move-today(type='button' data-action='move-today') Today
        button.btn.btn-default.btn-sm.move-day(type='button' data-action='move-prev')
          i.calendar-icon.ic-arrow-line-left(data-action='move-prev')
        button.btn.btn-default.btn-sm.move-day(type='button' data-action='move-next')
          i.calendar-icon.ic-arrow-line-right(data-action='move-next')
      span#renderRange.render-range
    #calendar
  //- TODO: Insert modals here (one for clicking on an existing exercise and one for adding an exercise to day)
block scripts
  //- Pass program data through a script so that it is accessible as a variable in scripts
  script.
    const program = !{JSON.stringify(program).replace(/<\//g, "<\\/")}
  script(src="/javascripts/calendar/tui-code-snippet.js")
  script(src="/javascripts/calendar/tui-dom.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.13/chance.min.js")
  script(src="/javascripts/calendar/tui-calendar.js")
  script(src="/javascripts/calendar.js")
