extends layout
block content
  .container.main-content
    table.table.table-bordered.mt-5.mb-5
      thead
        tr
          - for (let i = 0, days=['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']; i < 7; i++)
            th.text-center(scope="col")= days[i]
      tbody.table-borderless
        - for (let i = 1; i <= 2; i++)
          tr
            - for (let i = 1; i <= 7; i++)
              td.text-center.p-1
                span.badge.badge-primary.p-2 exercise
                  button.close.ml-2(type="button" aria-label="Close")
                    span(aria-hidden="true") &times;
        - for (let i = 1; i <= 9; i++)
          tr
            td
        tr
          - for (let i = 1; i <= 7; i++)
            td.text-center.p-1.pt-0.pb-0.m-0
              a.add-btn.button.btn.btn-default.pt-0.pb-0.pr-4.pl-4(href='/') Add
        tr
          - for (let i = 1; i <= 7; i++)
            td.pt-0.pb-0.m-0
              a.empty-btn.btn.btn-default.pt-0.pb-0.pr-3.pl-3(href='/') empty