extends layout
block content
  .container-fluid.main-content
    .text-center.greeting Hello [Name]
    .row.d-flex.justify-content-center
      .col-4.my-programs
        .row.font-weight-bold.box-title
          .col-8 My Programs
          .text-center.col-4
            button.btn.btn-default.btn-lg.my-2.add-button Add
        .col-12.program-list
          .row
            .col-8 Program 1
            .col-4.text-center.buttons
              button Make Active
              button Delete
          .row
            .col-8 Program 2
            .col-4.text-center.buttons
              button Deactivate
              button Delete
      .col-2.current-program
        .box-title.font-weight-bold Current Program
        .text-center Sunday
        .text-center
          div Some Stuff
            input(type="checkbox")
          div Some Stuff
            input(type="checkbox")
          div Some Stuff
            input(type="checkbox")
          div Some Stuff
            input(type="checkbox")
          div Some Stuff
            input(type="checkbox")
      .col-4.nutrition
        .font-weight-bold.box-title Nutrition
        div Calories
        div Add shit
        div Carbohydrates
        div Add shit
        div Protein
        div Add shit
        div Fats
        div Add shit