extends layout
block content
  .container-fluid.main-content
    h4.text-center.greeting.mt-5 Hi,&nbsp;#{username}
    .row.d-flex.justify-content-center
      a.btn.btn-default(href="/dashboard/exercise-list") Your exercises
      a.btn.btn-default(href="/dashboard/calendar") Calendar View
      a.btn.btn-default(href="/dashboard/account") Account
