extends layout
block content
  .container.main-content
    .row.mt-5
      .col-12
        .card
          .card-body
            h1.text-center= exercise.name
            .card
              .card-body
                p= exercise.desc