extends layout
block content
  .container.main-content
    .row.mt-5
      section
        p#IntroMsg.text-justify= introMsg
    .row.mt-5
      .col.text-center
        a.button.btn.btn-default.btn-lg.my-2.p-3(href="/qnr1") Find your workout program
        a.button.btn.btn-default.btn-lg.my-2.p-3(href="/program_list") See all programs