extends layout
block content
  .container.main-content.form
    form(action='', method='post', role='form')
      .row.mt-5
        .col-12.text-center
          case msg
            when 'register_success'
              .alert.alert-success(role='alert') User registered
      .row.mt-5
        .col-md-6.text-center.mx-auto
          input(type='text' autocomplete='username' placeholder='Email')
      .row.mt-5
        .col-md-6.text-center.mx-auto
          input(type='password' autocomplete='current-password' placeholder='Password')
      .row.mt-5
        .col-md-4.text-center.mx-auto
          button.btn-block.btn.btn-blue.p-2 Login
    .row.mt-3
      .col-md-4.text-center.mx-auto
        a.btn-block.btn.btn-default.p-2(href='/register-form') Create Account