extends layout
block content
  .container.main-content
    //- Saved Choices
    .row.justify-content-center.my-5
      each savedAnswer in savedAnswers
        .col-12
          h3.text-center
            span.badge.badge-pill= savedAnswer

      //- Choices
    .row.justify-content-center.mb-5
      a.option.btn.btn-lg.qnr-btn.mx-5(href="dashboard/calendar")= recommended_program
      a.option.btn.btn-lg.qnr-btn.mx-5(href="program-list") See All Programs

    //- Prev/Next Btns
    .row
      a.col-4.btn.qnr-nav-btn(href="qnr3") Previous
block scripts
  script(src="/javascripts/questionnaire.js")