extends layout
block content
  .container.main-content
      //- Saved Choices
      .col.text-center
        each savedAnswer in savedAnswers
          h2
            span.badge.badge-pill= savedAnswer

      //- Choices
      .col.text-center
        a.btn.btn-default.btn-lg.m-4.p-3(href='dashboard/calendar')= recommended_program
        a.btn.btn-default.btn-lg.m-4.p-3(href='program_list') See All Programs

      //- Prev/Next Btns
      .navigation-btn
        .container
          .row.justify-content-between
            .col-6
              a.btn.qnr-nav-btn.col-sm-3.col-md-6(href='qnr3') Previous
block scripts
  script(src='/javascripts/questionnaire.js')