extends layout
block content
  .container.main-content
    .choiceFixed
      if question
        section
          h1.display-4.text-center= question

      //- Saved Choices
      .col.text-center
        each savedAnswer in savedAnswers
          h2
            span.badge.badge-pill= savedAnswer

      //- Choices
      .col.text-center
        each option in options
          button.option.btn.btn-lg.qnr-btn.m-4.p-3= option

      //- Prev/Next Btns
      .navigation-btn
        .container
          .row.justify-content-between
            .col-6
              a.btn.nav-btn.col-sm-3.col-md-6(href=prev) Previous
            .col-6
              a#nav-btn-right.btn.nav-btn.col-sm-3.col-md-6 Next
block scripts
  script(src='/javascripts/questionnaire.js')