extends layout
block content
  .container.main-content
    //- Header
    .row.mt-5
      .col.text-center
        h1 Create Your QuickFit Account

    .row.mt-5
      //- Form
      .col-lg-8.col-md-12.form
        .row
          .col-6
            input(type="text" placeholder="First name")
          .col-6
            input(type="text" placeholder="Last name")
        .row.mt-5
          .col-12
            input(type="email" placeholder="Email")
        .row.mt-5
          .col-6
            input(type="text" placeholder="Password")
          .col-6
            input(type="text" placeholder="Confirm")
        .row.mt-3
          .col-12 Use 8 or more characters with a mix of letters, numbers, and symbols

      //- Image
      .col-lg-4.d-none.d-lg-block
        img(src="../images/placeholder.svg" alt="")

    //- Button Row -->
    .row.mt-5
      .col
        button.btn.btn-default.btn-blue.btn-lg Sign Up
